$e-green: #82b96e;

$primary-bg: #cfe2ff;
$primary-border: #9ec5fe;
$primary-text: #052c65;

$secondary-bg: #e2e3e5;
$secondary-border: #c4c8cb;
$secondary-text: #2b2f32;

$success-bg: #d1e7dd;
$success-border: #a3cfbb;
$success-text: #0a3622;

$info-bg: #cff4fc;
$info-border: #9eeaf9;
$info-text: #055160;

$warning-bg: #fff3cd;
$warning-border: #ffe69c;
$warning-text: #664d03;

$danger-bg: #f8d7da;
$danger-border: #f1aeb5;
$danger-text: #58151c;

$light-bg: #fcfcfd;
$light-border: #e9ecef;
$light-text: #495057;


$dark-bg: #ced4da;
$dark-border: #adb5bd;
$dark-text: #495057;

$lightgray: #919191;